@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot') format('embedded-opentype'),
       url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype'),
       url('../fonts/iconfont.svg') format('svg');
}

[class^='iconfont'],[class*=' iconfont'] {
    font-family: "iconfont"
}

.icon-gouwuche::after{
    content: "\e604"
}
.icon-gouwuchekong::after{
    content: "\e603"
}
.icon-arrow-bottom::after{
    content: "\e602"
}
.icon-up::after{
    content: "\e633"
}
.icon-mjiantou-copy::after{
    content: "\e601"
}
.icon-arrow-right::after{
    content: "\e600"
}
.icon-leimupinleifenleileibie::after{
    content: "\e60d"
}
.icon-iconfontfangdajing::after {
    content: "\e60a"
}
.icon-yonghu::after {
    content: "\e651"
}
.icon-home::after {
    content: "\e65b"
}
.icon-cha::after {
    content: "\e605"
}
.icon-xuanzhongkuang::after {
    content: "\e606"
}
.icon-weixuanzhongkuang::after {
    content: "\e660"
}
.icon-yanjing1::after {
    content: "\e6cf"
}
.icon-yanjing::after {
    content: "\e61b"
}